<div class="container" style="text-align:center;width:90%;">

  <%= form_with(model: delivery,style:"postion:fixed;", local: true) do |form| %>


    <%= form.text_field :client, id: :delivery_client,class:"fieldform ",required: true,style:"width:100px;",placeholder:"Client" %>
    <%= form.text_field :nom, id: :delivery_nom,required: true,class:"fieldform",style:"width:100px;",placeholder:"Nom" %>
    <%= form.text_field :adressepickup, id: :delivery_adressepickup,class:"fieldform",style:"width:150px;",placeholder:"adresse de pickup" %>
    <%= form.text_field :adressedelivery, id: :delivery_adressedelivery,required: true,class:"fieldform",style:"width:150px;",placeholder:"adresse de livraison" %>
    <% if delivery.zipcode?%>
    <%= form.number_field :zipcode, id: :delivery_zipcode, min: 1000,required: true,class:"fieldform",style:"width:100px;",placeholder:"zipcode" %>
    <%else%>
    <%= form.number_field :zipcode, id: :delivery_zipcode, min: 1000,required: true,value:75001,class:"fieldform",style:"width:100px;",placeholder:"zipcode" %>
    <% end %>
    <%= form.number_field :unité, id: :delivery_unité,required: true, min: 1,class:"fieldform",style:"width:80px;",placeholder:"unit" %>
    <% if delivery.datelivraison?%>
      <%= form.date_field :datelivraison, id: :delivery_datelivraison,required: true,class:"fieldform",style:"width:130px;margin-right:4px;" %>
    <%else%>
      <%= form.date_field :datelivraison, id: :delivery_datelivraison,required: true,value: Date.today,class:"fieldform",style:"width:130px;margin-right:4px;" %>
    <% end %>
    <% if delivery.heureentré?%>
      de :<%= form.time_field :heureentré, id: :delivery_heureentré,class:"fieldform",style:"width:90px;margin-left:5px;margin-right:4px;" %>
    <%else%>
      de :<%= form.time_field :heureentré, id: :delivery_heureentré,value:"09:00",class:"fieldform",style:"width:90px;margin-left:5px;margin-right:4px;" %>
    <% end %>
    <% if delivery.heuresortie?%>
      à :<%= form.time_field :heuresortie, id: :delivery_heuresortie,class:"fieldform",style:"width:90px;margin-left:5px;" %>
    <%else%>
      à :<%= form.time_field :heuresortie, id: :delivery_heuresortie,value: "19:00",class:"fieldform",style:"width:90px;margin-left:5px;" %>
    <% end %>
    <%= form.text_field :commentaire, id: :delivery_commentaire,class:"fieldform",style:"width:300px;",placeholder:"Commentaire" %>
    <%= form.submit "delivery",class:"buttondelivery"%>

  <% end %>
  <br><h2 class="titre1">Importer des commandes par fichier csv</h2><br><br>
      <%= form_tag import_deliveries_path, multipart: true do %>
      <span class="btn btn-large btn-primary btn-file">
         Choose File
         <%= file_field_tag :file %>
      </span>
         <%= submit_tag "Upload Deliveries",class: "buttondelivery",style: "width:150px" %>
      <% end %>

</div>
