
<div class="container">

  <h1 class="titre1">Commandes de la semaine</h1>
  <br>
  <div style="text-align:center;">
    <%= form_tag indexweek_deliveries_path,:method => 'get' do %>
      <%= text_field_tag (:findclient), params[:findclient],class:"fieldform",placeholder:'Client'%>
      <%= text_field_tag (:findadresse), params[:findadresse],class:"fieldform",placeholder:'Adresse'%>
      <%= date_field_tag (:finddate), params[:finddate],class:"fieldform",placeholder:'Date'%>
      <%= submit_tag "rechercher",class:"btn btn-small btn-primary"%>
      <%= link_to "CSV", indexweek_deliveries_path(format: "csv") %>
    <% end %>
  </div>
  <% @listDate.each do |date| %>
    <h2><%= date.strftime("%d/%m/%Y") %> </h2>
    <div class="media">
      <div class="media-body">
        <table class="table table-hover ">
          <thead>
            <tr>
              <th class="textcenter">Client</th>
              <th class="textcenter" >Nom</th>
              <th class="textcenter" >adresse</th>
              <th class="textcenter" >Zipcode</th>
              <th class="textcenter" >Unité</th>
              <th class="textcenter" >Heure entrée</th>
              <th class="textcenter" >Heure sortie</th>
              <th class="textcenter" >Commentaire</th>
              <th class="textcenter">attente\livraison</th>
              <th class="textcenter">livraison\livrer</th>
              <th class="textcenter"  colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @deliveries.each do |delivery| %>
              <% if (delivery.datelivraison.strftime("%d/%m/%Y") == date.strftime("%d/%m/%Y")) %>
                <tr id='<%=delivery.id%>'class="textcenter">
                  <td style="font-size:1.15em;font-weight: bold;width:160px;text-transform: uppercase;"><%= delivery.client %></td>
                  <td style="width:220px; "><%= delivery.nom %></td>
                  <td style="width:400px; ">
                    <% if delivery.adressepickup?%>
                      <p><%=delivery.adressepickup%> => <%=delivery.adressedelivery%></p>
                    <%else%>
                      <%=delivery.adressedelivery%>
                    <%end%>
                  </td>
                  <td><%= delivery.zipcode %></td>
                  <td><%= delivery.unité %></td>
                  <td><%= delivery.heureentré.strftime("%Hh%M") %></td>
                  <td><%= delivery.heuresortie.strftime("%Hh%M") %></td>
                  <td>
                    <% if delivery.commentaire? %>

                    <div class='user'><span class="glyphicon glyphicon-eye-open"></span>
                      <div class='popup'><%= delivery.commentaire %></div>
                    </div>
                    <% end %>
                  </td>
                  <td>
                    <div class="task-wrapper">
                      <%= check_box_tag 'completed', delivery.id , delivery.validationcommande, :class => "task-check3" %>
                    </div>
                  </td>
                  <td>
                    <div class="task-wrapper">
                      <%= check_box_tag 'completed', delivery.id , delivery.validationlivraison, :class => "task-check4" %>
                    </div>
                  </td>
                  <td><%= link_to '', edit_delivery_path(delivery), class:'glyphicon glyphicon-edit' %></td>
                  <td class='destroy'><a class='glyphicon glyphicon-remove'></a></td>
                  <td ><a onclick="copyToClipboard('tr#'+<%=delivery.id%>)" class="glyphicon glyphicon-duplicate"></a></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <%end%>
</div>
